body {
    background-color: yellow;
}

h1 {
    color:blue
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color
}